*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: in;
}

.inter {
  font-family: "Inter";
}
a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
a:hover{
    cursor: pointer;
    font-weight: bold;
}
p{
    line-height:24px ;
    font-size: 18px;
    color: white;
}
.btn{
    border-radius: 4px;
    background-color: #30B868;
    color: white;
    font-size: 16px;
    border: none;
}
.pera{
    color: #627382;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
}
/* navbar style starts  */
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.navbar{
    max-width: 1140px;
    width: 100%;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    margin: 0 auto;
}
.navbar #nav-logo{
    padding-top: 16px;
}
.navbar ul{
    display: flex;
    gap: 32px;
}
.navbar ul li{
    list-style: none;
}
.navbar .btn{
    height: 44px;
    width: 164px;
}
.nav-button .btn{
    height: 30px;
    width: 150px;
    border-radius: 1000px;
}
/* navbar style end  */
/* banner section  */
.banner-heading{
    background: url(./assets/hero-bg.png);
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#heading{
    display: flex;
    flex-direction: column;
    color: white;
    padding-bottom: 16px;
    font-size: 60px;
}
#heading span{
    color: #30B868;
}
.banner-heading p{
    max-width: 700px;
    text-align: center;
    margin: 16px auto;
}

.banner-btn{
    padding-top: 32px;
    display: flex;
    gap: 10px;
}
.banner-btn .btn{
    padding: 16px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.banner-btn .btn img{
    color: white;
}
/* main section  */
.first-div{
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
}
.first-heading{
    padding-top:30px ;
    text-align: center;
}
.first-heading h2{
    font-size: 40px;
}
.first-heading p{
    font-size: 13px;
}
.first-div .container{
    padding-top: 44px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

}
.first-div .container h4{
    text-align: center;
  
}
.container .card{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 40px;
}
 .container .card img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color:#FF3F33;
    padding:5px;
    
 }
 #early-access-btn{
    height: 35px;
    border-radius:250px;
    padding: 10px;
    color: #30B868;

 }
 #early-access-btn:hover{
    color: white;
 }
/* section 2   */
.scnd-container{
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 100px;
    gap: 40px;
}
.s-description h2{
   font-size: 40px;
   padding-bottom: 16px;
}
.scnd-container .knowledge-img img{
    height: 100%;
    object-fit: cover;
}
.scnd-container .s-description #solution{
    font-size: 16px;
    font-weight: 400;
    color: #30B868;
    padding-bottom: 16px;
    text-transform: uppercase;

}
 .s-description{
    display: flex;
    flex-direction: column;
    justify-content:center;
 }
 .s-description .pera{
    text-align: start;
    line-height: 20px;
    padding-bottom: 40px;
 }

 .s-description ul li{
    list-style: none;
    margin-bottom: 16px;
    display: flex;
    gap: 6px;
 }
 .s-description ul li img{
    height: 20px;
    width: 20px;   
 }

 /* section 3 */
 .ready-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin: 0 100px 100px 100px;
    background-color: #F7F6F2;
    padding: 80px 0;
 }
 .ready-container h2{
    padding: 0 40px;
    font-size: 40px;
    
 }
.ready-container .r-button{
    display: flex;
    gap: 10px;
}
.ready-container .r-button .btn{
    padding: 16px;
}
/* footer  */
footer{
    display: flex;
    flex-direction: column;
    background-color: #001931;
}

.footer{
    display: flex;
    justify-content: space-between;
    height: 200px;
    border: 1px solid;
    padding: 120px;
}
.copyright p{
    color: white;
    text-align: center;
    padding: 120px 120px 30px 120px;
    font-size: 16px;
}
.social-part{
    display: flex;
    flex-direction: column;
}
.links-container{
    display: flex;
    gap: 5px;
}
.links-container ul{
    display: flex;
    gap: 5px;
}
.links-container ul li{
    color: white;
    list-style: none;
}
button:hover{
    background-color: #328E6E;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 2px green;
}


